 <!-- pink section, navigation bar -->
 <div class="balk">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- <a class="navbar-brand" href="#">The Parent App</a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" routerLink="/home">Home</a>
                            <a class="nav-link" routerLink="/playground">speeltuin</a>
                            <a class="nav-link" routerLink="/addplayground">speeltuin toevoegen</a>
                            <a class="nav-link" routerLink="/favorites">Favorieten</a>
                            <a class="nav-link" href="#">Opmerkingen</a>
                            <a class="nav-link" href="#">Profiel</a>
                         </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<!-- Top logo -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-5 text-center">
            <img src="../../assets/img/tpalogo.png" class="homeLogo" alt="">
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<!-- Form field for user information -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div>
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="text-right">Profile Settings</h2>
                    </div>
                    <div class="row mt-2">
                        <!-- User name -->
                        <div class="col-md-4"><label class="labels">Naam</label><input type="text" class="form-control" placeholder="Achternaam" value=""></div>
                        <div class="col-md-4"><label class="labels">Voornaam</label><input type="text" class="form-control" value="" placeholder="Voornaam"></div>
                        <div class="col-md-4"><label class="labels">Geboortedatum</label><input type="date" class="form-control" value="" placeholder="geboortedatum"></div>
                        <!-- Partner information -->
                        <div class="col-md-12 mt-3"><h4>Partner</h4></div>
                        <div class="col-md-4"><label class="labels">Naam</label><input type="text" class="form-control" placeholder="Achternaam" value=""></div>
                        <div class="col-md-4"><label class="labels">Voornaam</label><input type="text" class="form-control" value="" placeholder="Voornaam"></div>
                        <div class="col-md-4"><label class="labels">Geboortedatum</label><input type="date" class="form-control" value="" placeholder="geboortedatum"></div>
                        <!-- Information about the kids -->
                        <!-- Number of input fields should depend on number of children -->
                        <div class="col-md-12 mt-3"><h4>kinderen</h4></div>
                        <div class="col-md-2"><label class="labels">Aantal</label><input type="number" class="form-control" placeholder="aantal" value=""></div>
                        <div class="col-md-10"></div>
                        <div class="col-md-4"><label class="labels">Naam</label><input type="text" class="form-control" placeholder="Achternaam" value=""></div>
                        <div class="col-md-4"><label class="labels">Voornaam</label><input type="text" class="form-control" value="" placeholder="Voornaam"></div>
                        <div class="col-md-4"><label class="labels">Geboortedatum</label><input type="date" class="form-control" value="" placeholder="geboortedatum"></div>
                        <div class="col-md-4"><label class="labels">Naam</label><input type="text" class="form-control" placeholder="Achternaam" value=""></div>
                        <div class="col-md-4"><label class="labels">Voornaam</label><input type="text" class="form-control" value="" placeholder="Voornaam"></div>
                        <div class="col-md-4"><label class="labels">Geboortedatum</label><input type="date" class="form-control" value="" placeholder="geboortedatum"></div>
                        <div class="col-md-4"><label class="labels">Naam</label><input type="text" class="form-control" placeholder="Achternaam" value=""></div>
                        <div class="col-md-4"><label class="labels">Voornaam</label><input type="text" class="form-control" value="" placeholder="Voornaam"></div>
                        <div class="col-md-4"><label class="labels">Geboortedatum</label><input type="date" class="form-control" value="" placeholder="geboortedatum"></div>
                    </div>
                    <div class="row mt-3">
                        <!-- User adres information -->
                        <div class="col-md-12 mt-3"><h4>Adresgegevens</h4></div>
                        <div class="col-md-6"><label class="labels">Straat</label><input type="text" class="form-control" placeholder="straat" value=""></div>
                        <div class="col-md-6"><label class="labels">Huisnummer</label><input type="text" class="form-control" placeholder="nummer" value=""></div>
                        <div class="col-md-6"><label class="labels">Stad</label><input type="text" class="form-control" placeholder="stad" value=""></div>
                        <div class="col-md-6"><label class="labels">Postcode</label><input type="text" class="form-control" placeholder="postcode" value=""></div>
                        <div class="col-md-6"><label class="labels">Land</label><input type="text" class="form-control" placeholder="Land" value=""></div>
                        <div class="col-md-6"><label class="labels">Provincie</label><input type="text" class="form-control" value="" placeholder="provincie"></div>
                    </div>
                    <div class="row mt-3">
                        <!-- User contact information -->
                        <div class="col-md-12 mt-3"><h4>Contactgegevens</h4></div>
                        <div class="col-md-12"><label class="labels">Gsm</label><input type="text" class="form-control" placeholder="voer uw GSM nummer in" value=""></div>
                        <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="enter email " value=""></div>
                    </div>
                        <!-- Save profile button -->
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Bewaar gegevens</button></div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>