<!-- Navigation menu -->
<div class="balk">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <!-- <a class="navbar-brand" href="#">The Parent App</a> -->
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            <a class="nav-link" href="#">speeltuinen</a>
                            <a class="nav-link" href="#">Indoor speeltuinen</a>
                            <a class="nav-link" href="#">Horeca</a>
                            <a class="nav-link" href="#">tochten</a>
                            <a class="nav-link" href="#">Atractieparken</a>
                            <a class="nav-link" href="#">Musea</a>
                            <a class="nav-link" href="#">Activiteiten</a>
                         
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>

<!-- Parent app logo -->
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-5">
            <img src="assets/img/tpalogo.png" class="img-fluid logo mx-auto d-block" alt="">
        </div>
        <div class="col-md-2"></div>
    </div>
</div> 

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <img src="assets/img/vbmaplc.png" class="img-fluid" alt="">
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-2">
                <!-- Select playground -->
                <input type="checkbox" class="radio_selection" value="" name="Playground" id="age3">
                <label class="label_selection" for="age3"> <img src="assets/img/playground.png" class="radioimg " > </label>
        </div>
        <div class="col-md-2">     
                <!-- Select indoor playground -->
                <input type="checkbox" class="radio_selection" value="" name="Indoorplayground" id="age3">
                <label class="label_selection" for="age"> <img src="assets/img/indoorPlayground.png" class="radioimg " > </label>
        </div>
        <div class="col-md-2">     
                <!-- Select indoor playground -->
                <input type="checkbox" class="radio_selection" value="" name="Indoorplayground" id="age3">
                <label class="label_selection" for="age"> <img src="assets/img/indoorPlayground.png" class="radioimg " > </label>
        </div>
        <div class="col-md-2">     
            <!-- Select indoor playground -->
                <input type="checkbox" class="radio_selection" value="" name="Indoorplayground" id="age3">
                <label class="label_selection" for="age"> <img src="assets/img/indoorPlayground.png" class="radioimg " > </label>
        </div>
        <div class="col-md-2">     
            <!-- Select indoor playground -->
                <input type="checkbox" class="radio_selection" value="" name="Indoorplayground" id="age3">
                <label class="label_selection" for="age"> <img src="assets/img/indoorPlayground.png" class="radioimg " > </label>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
